<div id="calculadora">
  <div id="dashboard">
    <span *ngIf="mostrar"><br>{{final}}</span>
    <span>{{num1}} </span>{{type}}<span> {{num2}}<br></span> 
    <span *ngIf="!mostrar">{{resultado}}</span>
  </div>
  <div id="number">
    <input type="button" (click)="value('0')"readonly value= "&#48;"/>
    <input type="button" (click)="value('1')"readonly value="&#49;"/>
    <input type="button" (click)="value('2')"readonly value="&#50;"/>
    <input type="button" (click)="value('3')"readonly value="&#51;"/>
    <input type="button" (click)="value('4')"readonly value="&#52;"/>
    <input type="button" (click)="value('5')"readonly value="&#53;"/>
    <input type="button" (click)="value('6')"readonly value="&#54;"/>
    <input type="button" (click)="value('7')"readonly value="&#55;"/>
    <input type="button" (click)="value('8')"readonly value="&#56;"/>
    <input type="button" (click)="value('9')"readonly value="&#57;"/>
  </div>
  
  
  <div id="operacion">
    <input type="button" (click)="setOperacion('+')" readonly value="+"/>
    <input type="button" (click)="setOperacion('-')" readonly value="-"/>
    <input type="button" (click)="setOperacion('x')" readonly value="x"/>
    <input type="button" (click)="setOperacion('/')" readonly value="&#247;"/>
  </div>
  
  <input type="button" (click)="setOperacion('=')" readonly value="&#61;"/>
</div>
